
body {
  margin: 30px;
  font-family: —apple—system, BlinkMacSystemFont,'Segoe IJI','Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' ,
  sans—serif;
  -webkit-animation-: antia liased;
  -moz-animation-: grayscale;
}

button {

  margin: 5px;

}